// Breakpoints
$breakpoint-sm: 500px;
$breakpoint-md: 700px;
$breakpoint-lg: 1024px;

// Colors
$color-primary: #3482fa;
$color-gray: #f9f9f9;
$color-gray--dark: #e1e4e8;

// Font
$default-font-size: 14px;
